body {
	text-align: center;
	font-family:Lucida Console;
	color: white;
	background-color: #98FB98;
	background-image: url("https://www.google.com/search?tbs=sbi:AMhZZisvPHlY0f_10iszzL0KvWD8YK_1PQNAwkRZmzv2myi1pJo0042Ch-l6FumfC8W01p2nMCOW2jO1T_106goESE6Xvx_1MnDksVARHtiUouU14MbP3j7tIcqOspGQEODiw8xwksRGWDhGeX7YULLQ4NAoL9vXkRbs-5kMsoPdvMCCGgpJSDJjEUIatagVJCyA9JcWXBAGEJhrjppShRyTUgJzKOl1slJZ2HiFfWEXyNxaUDjr9JGAgoT0c7CFReB7UHAsLonlzEjO8DfqQ_1dioCUT_1ZGl0_1D6H8C5hAJjKqdr3d8FvNaftWjMJcFtmUABLVee0TBYo-dOtS6HHzge27B1yElcHmGgGw");
	background-repeat: no-repeat;
	background-position: center;
}
#search{
	margin-top: 13%;
	border-width: 2px;
	border-color: black;
}
#btn{
	color: black;
	margin-top: 5px;
	border-radius: 30%;
	border-color: black;
	background-color: white;
	padding: 5px;
}
#results{
	text-align: left;
	margin-top: 50px;
}
#results li{
	list-style-type: none;
	margin-top: 15px;
	margin-right: 50px;
	border-style: solid;
  border-width: 3px;
	border-color: white;
	padding: 5px;
}
#results li:hover{
	background-color: white;
}
#results li a {
    text-decoration: none;
		color: black;
}
